<div class="container">
  <div class="row">
    <h3>Изменить данные клиента</h3>
  </div>
  <div class="row">
    <%= form_for @customer do |f| %>
      <div class="form-group">
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.text_field :phone, class: "form-control", size: "20x4" %>
      </div>
      <div class="form-group">
        <%= f.text_area :desc, class: "form-control", size: "20x4" %>
      </div>
      <%= f.submit "Сохранить", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>